name: Build hoppscotch-backend Container

on:
  workflow_dispatch:
  schedule:
    - cron: "15 7 * * 0"


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Hoppscotch Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: hoppscotch/hoppscotch
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      -
        name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Create blank .env (to make the image build), and insert necessary env vars
        run: |
          touch .env
          sed -i '1a\ENV MAILER_SMTP_URL="smtps:\/\/user@domain.com:pass@smtp.domain.com"\nENV MAILER_ADDRESS_FROM="From Name Here <from@example.com>"' packages/hoppscotch-backend/Dockerfile

      -
        name: Build and push (MAIN)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: packages/hoppscotch-backend/Dockerfile
          target: prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hoppscotch-backend:latest
