name: Build hoppscotch-app Container

on:
  workflow_dispatch:
  schedule:
    - cron: "20 7 * * 0"


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Hoppscotch Repository
        uses: actions/checkout@v5
        with:
          repository: hoppscotch/hoppscotch
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Create blank .env (to make the image build)
        run: |
          touch .env
      -
        name: Build and push (MAIN)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: packages/hoppscotch-selfhost-web/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hoppscotch-app:latest
