name: monica

on:
  workflow_dispatch:
  schedule:
    - cron: "25 13 * * 0"


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout monica Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: monicahq/docker
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      -
        name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Update nginx conf to not connect to a generic "app" backend because I don't want the container named that
        run: |
          sed -i 's/server app:9000;/server monica-fpm-app:9000;/' ./.examples/supervisor/fpm-alpine/web/nginx.conf
      -
        name: Build and push (MAIN)
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ./.examples/supervisor/fpm-alpine/app/
          file: ./.examples/supervisor/fpm-alpine/app/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/monica-fpm-supervisor-alpine:latest
      -
        name: Build and push (MAIN)
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ./.examples/supervisor/fpm-alpine/web/
          file: ./.examples/supervisor/fpm-alpine/web/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/monica-nginx:latest
